# ===== Maven =====
target/
.mvn/wrapper/maven-wrapper.jar

# ===== Logs =====
logs/
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr

# ===== Eclipse / STS =====
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===== NetBeans =====
nbproject/private/
nbbuild/
dist/
nbdist/

# ===== VS Code =====
.vscode/
