<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.title}">Курс</title>
</head>
<body>

<h1 th:text="${course.title}">Название курса</h1>

<p th:text="${course.description}">Описание</p>

<h2>Секции</h2>

<div th:if="${enrolled}">
    <p style="color:green;">Вы уже записаны на этот курс ✔</p>
</div>

<div th:if="${!enrolled}">
    <form th:action="@{/courses/{id}/enroll(id=${course.id})}" method="post">
        <button type="submit">Записаться на курс</button>
    </form>
</div>



<ul>
    <li th:each="section : ${sections}">
        <a th:href="@{/courses/sections/{id}(id=${section.id})}">
            <span th:text="${section.content}"></span>
        </a>

        <span th:if="${completedSections != null and completedSections.contains(section.id)}">
            ✅
        </span>
    </li>
</ul>

<br/>
<a th:href="@{/courses}">← Назад к курсам</a>

</body>
</html>
