<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Регистрация</h1>

<form th:action="@{/register}"
      th:object="${registrationForm}"
      method="post">

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />

    <div>
        <label>Логин</label><br/>
        <input type="text" th:field="*{username}" />
        <div th:errors="*{username}" style="color:red"></div>
    </div>

    <div>
        <label>Email</label><br/>
        <input type="email" th:field="*{email}" />
        <div th:errors="*{email}" style="color:red"></div>
    </div>

    <div>
        <label>Пароль</label><br/>
        <input type="password" th:field="*{password}" />
        <div th:errors="*{password}" style="color:red"></div>
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>
