<h1 th:text="${section.course.title}"></h1>

<h2 th:text="'Урок № ' + ${section.orderIndex}"></h2>

<div style="border:1px solid #ccc;padding:15px;border-radius:8px;">
    <pre th:text="${section.content}"></pre>
</div>

<br/>

<div th:if="${completed}">
    <p style="color:green;font-weight:bold;">
        ✓ Урок уже пройден
    </p>
</div>

<div th:if="${!completed}">
    <form th:action="@{/courses/sections/{id}/complete(id=${section.id})}"
          method="post">

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <button type="submit">Отметить как пройдено</button>
    </form>
</div>

<br/>

<a th:href="@{/courses/{id}(id=${section.course.id})}">
    ← Назад к курсу
</a>
